<html>
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    {{!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" /> --}}

	{{ghost_head}}
</head>
<body class="{{body_class}}">
    {{> banner}}
	{{navigation}}
    <div class="container">
    	{{{body}}}
    </div>

    {{> scripts}}
	{{ghost_foot}}
</body>
</html>
